* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	background: whitesmoke;
	width: 100dvw;
	height: 100dvh;
	flex-direction: column;
}

span {
	color: #ccc;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	background-color: darkslategray;
	font-size: larger;
	text-align: center;
	font-weight: bolder;
	line-height: 5vh;
	text-decoration: none;
	color: black;
}

main {
	width: 100%;
	flex: 1 0 0;
	background-color: black;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.box {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 10px;
	color: whitesmoke;
}

.box span {
	font-weight: bold;
	font-size: large;
}

.block {
	height: 25%;
	width: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 10px;
	border: 10px solid darkslategrey;
	border-radius: 20px;
	text-decoration: none;
	background-color: #333;
}

.block div:nth-child(1) {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: large;
	font-weight: bold;
}

.block div:nth-child(2) {
	flex: 1 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	font-weight: bolder;
}

