package mytemplates

templ Layout(title string) {
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>{ "Solar-System - " + title }</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="7 days" />
	<meta name="language" content="English" />
	<link href="/static/style.css" rel="stylesheet" />
</head>

<body>
	{ children... }
</body>

</html>
}
